<server description="SingleCrewServiceServer">
    <featureManager>
        <!-- <feature>passwordUtilities-1.1</feature> -->
        <feature>cdi-4.0</feature>
        <feature>ssl-1.0</feature>
        <feature>mpConfig-3.0</feature>
        <feature>beanValidation-3.0</feature>	   
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>mpOpenAPI-3.1</feature>
        <feature>mpMetrics-5.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="/"/>

    <!---  Add variables for mongodb -->
    <variable name="mongo.hostname" defaultValue="ec2-100-26-185-111.compute-1.amazonaws.com"/>
    <variable name="mongo.port" defaultValue="27017"/>
    <variable name="mongo.dbname" defaultValue="crewdb"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <quickStartSecurity userName="admin" userPassword="admin" /> 
    <mpMetrics authentication="false" />
    
     <webApplication contextRoot="${app.context.root}" location="SingleCrewService.war" name="SingleCrewService">
     </webApplication>
  

</server>
